# Dependencies
node_modules/

# Environment variables
.env
.env.*

# PERMITIR archivo ejemplo
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/