.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 999;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    background: #fff;
    padding: 2rem;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(0.8);
    transition: transform 0.25s ease;
}

.popup.active .popup-content {
    transform: scale(1);
}

.close-popup {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
}

.popup-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

/************************************************************/

.card-popup {
    background: #ffe6d5;
    width: auto;
    margin: 20px auto;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.title-popup {
    background: #FF6B6B;
    color: #4b3f36;
    padding: 10px;
    border-radius: 10px;
}

.tabs-popup {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 25px;
    border-bottom: 2px solid #e5e7eb;
}

.tab-popup {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.tab-popup:hover {
    background: #ffd9b3;
}

.tab-popup.active {
    border-bottom: 3px solid black;
    font-weight: bold;
}

.content-popup {
    display: none;
    margin-top: 15px;
    text-align: left;
    font-size: 14px;
}

.content-popup.active {
    display: block;
}

.notas {
    width: 100%;
    border-spacing: 0 6px;
}

.notas td,
.notas th {
    padding: 3px;
}

ul {
    margin: 5px 0 15px 20px;
    padding: 0;
}